html {
  font-family: "Droid Serif", serif;
}

body {
  padding: 0;
  margin: 0;
}

header,
footer {
  background-color: #70ad55;
  color: #fff;
  width: 100%;
}

fieldset {
  border: none;
}

hr {
  border-color: #70ad55;
  border-width: 1px;
}

input,
textarea {
  border-color: #6e8c62;
}

button {
  background-color: #6e8c62;
  border-color: #6e8c62;
  padding: .5rem 2rem;
}

textarea {
  height: 10em;
}

@media only screen and (min-width: 38em) {

  .m-1-2 {
    padding-right: 1rem;
  }
}

@media only screen and (min-width: 90em) {

  .m-1-2 {
    padding-right: .75rem;
  }
}
